[Unit]
Description=Url API - Runs the .NET Core API
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/Url/
ExecStart=/usr/bin/dotnet Api/SocialStack.Api.dll
Restart=on-failure

[Install]
WantedBy=multi-user.target
